@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

#x3d-container {
    border-style: outset;
    border-width: 5px;
    border-color: gray;
}

#options-container{

    background-color: silver;

    border-style: outset;
    border-width: 5px;
    border-color: gray;
}

a:hover{
    text-decoration: none !important;
}